<script id="filter-view-handlebars-template" type="text/x-handlebars-template">
    {% raw %}
        <span class="filter-field"> 
            <select class="column-name">
                {{#each columnsInformation }}
                    {{#isInstance this 'ColumnInformation' }}
                        <option value="{{this.tableName}}.{{ this.databaseName }}">{{ this.frontendName }}</option>
                    {{else}}
                        <optgroup label="{{ this.frontendName }}">
                            {{#each this.columns }}
                                <option value="{{this.tableName}}.{{ this.databaseName }}">{{ this.frontendName }}</option>
                            {{/each }}
                        </optgroup>
                    {{/isInstance}}
                {{/each}}
            </select>
        </span>
        <span class="filter-field">
            <select class="operators">
                <option value="eq">=</option>
                <option value="neq">!=</option>
                {{#if isConst }}
                    <option value="in">in</option>
                {{else}}
                    <option value="lt"><</option>
                    <option value="let"><=</option>
                    <option value="gt">></option>
                    <option value="get">>=</option>
                {{/if}}
            </select>
        </span>
        <span class="filter-field">
            {{#if fkValues }}
                <select class="value">
                    {{# each fkValues }}
                        <option value="{{ this.id}}">{{ this.value }}</option>
                    {{/each}}
                </select>
            {{else}}
                {{#if constValues }}
                    <select class="value">
                        {{# each constValues }}
                            <option value="{{ this.id}}">{{ this.value }}</option>
                        {{/each}}
                    </select>
                {{else}}
                    <input class="value">
                {{/if}}
            {{/if}}
        </span>
        <span class="filter-field">
            <button type="button" class="btn btn-primary create">Crear Filtro</button>
        </span>
    {% endraw %}
</script>

<script id="filters-view-handlebars-template" type="text/x-handlebars-template">
    {% raw %}
        {{#if filters}}
            <div class="row">
                <ul>
                    {{#each filters}}
                    <li class="filter-list-item">
                        <a class="remove-filter" href="#">
                            <span id="remove-filter-{{@index}}" class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                        {{renderFilterData this ../databaseInformation ../fkInformation}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    {% endraw %}
</script>
